{% extends 'base_admin.html' %}

{% block title %}Админка{% endblock %}

{% block content %}
    <h2>Доступные курсы</h2>
    {% for key, value in blocks.items %}
        <h5>{{ key.name }}</h5>
        {% for block in value %}
            <a href="/admin/block?id={{ block.id }}">{{ block.name }}</a><br>
        {% endfor %}
        {% if is_teacher %}
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#example" style="margin-top: 20px;">
                Новый блок
            </button>
            <!-- Modal -->
                                <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                  <form method="POST">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Новый блок в курсе {{ key.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
                                                {% csrf_token %}
                                                <input type="text" name="name" placeholder="Имя блока">
                                                <input type="hidden" name="course_id" value="{{ key.id }}">
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                                        <button type="submit" class="btn btn-success">Создать</button>
                                      </div>
                                    </div>
                                  </form>
                                  </div>
                                </div>
            <button class="btn btn-dark" onclick="window.location.href = '/admin/users_settings?course_id={{ key.id }}'" style="margin-top: 20px;">Участники курса</button>
        {% endif %}
    {% endfor %}
    {% if is_superuser %}
    <div>
        <center>
            <input target="_blank" rel="noopener noreferrer" type="submit" class="btn btn-dark" onclick="window.location.href = '/admin/'" value="Django admin">
        </center>
    </div>
    {% endif %}
{% endblock %}