{% extends 'base.html' %}

{% block header %}
        <div class="col" style="min-width: 100px;">
            <button type="button" class="btn btn-light btn-block top-button" onclick="main()">Sprint</button>
        </div>
        <div class="col" style="min-width: 100px;">
            <button type="button" class="btn btn-dark btn-block top-button" onclick="admin()">Админка</button>
        </div>
        <div class="col" style="min-width: 100px;">
            <button type="button" class="btn btn-light btn-block top-button"  onclick="settings()">Настройки</button>
        </div>
        <div class="col-7"></div>
{% endblock %}