{% extends 'base.html' %}

{% block title %}
    Sprint|Настройки
{% endblock %}

{% block header %}
    {% if is_admin %}
        <div class="col" style="min-width: 100px;">
            <button type="button" class="btn btn-light btn-block top-button" onclick="main()">Sprint</button>
        </div>
        <div class="col" style="min-width: 100px;">
            <button type="button" class="btn btn-light btn-block top-button" onclick="admin()">Админка</button>
        </div>
        <div class="col" style="min-width: 100px;">
            <button type="button" class="btn btn-dark btn-block top-button"  onclick="settings()">Настройки</button>
        </div>
        <div class="col-7">

        </div>
    {% else %}
        <div class="col" style="min-width: 100px;">
            <button type="button" class="btn btn-light btn-block top-button" onclick="main()">Sprint</button>
        </div>
        <div class="col" style="min-width: 100px;">
            <button type="button" class="btn btn-dark btn-block top-button"  onclick="settings()">Настройки</button>
        </div>
        <div class="col-8">

        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        Сменить пароль
    </h2>
    <font color="red">{{ error }}</font>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" class="btn btn-dark" value="Сменить" style="margin-top: 20px;">
    </form>
    <hr>
{% endblock %}
