{% extends 'base.html' %}

{% load filters %}

{% block title %}{{ Block.name }}|решения{% endblock %}

{% block scripts %}
        function filter() {
            const idi = document.getElementById('idi').value;
            const task = document.getElementById('task_name').value;
            const user = document.getElementById('user').value;
            const group = document.getElementById('group').value;
            const last_solution = document.getElementById('last_solution').checked;
            const best_result = document.getElementById('best_result').checked;
            const only_students = document.getElementById('only_students').checked;
            const not_seen = document.getElementById('not_seen').checked;
            var req = '';
            if (idi) {
                req += '&solution_id=' + idi;
            }
            if (not_seen) {
                req += '&not_seen=' + not_seen;
            }
            if (task) {
                req += '&task_name=' + task;
            }
            if (user) {
                req += '&user=' + user;
            }
            if (group) {
                req += '&group=' + group;
            }
            if (last_solution) {
                req += '&last_solution=' + last_solution;
            }
            if (best_result) {
                req += '&best_result=' + best_result;
            }
            if (only_students) {
                req += '&only_students=' + only_students;
            }
            window.location.href = '/admin/solutions?block_id={{ Block.id }}' + req;
        }
        function retest() {
            let del = confirm("Подтвердите перетест");
	        if (del)
                window.location.href = '/admin/retest?block_id={{ Block.id }}{% autoescape off %}{{ req }}{% endautoescape %}';
        }
        function download() {
            let del = confirm("Подтвердите скачивание");
            if (del) {
                window.location.href = '/admin/download?block_id={{ Block.id }}{% autoescape off %}{{ req }}{% endautoescape %}';
            }
        }
        function showHideTests(id) {
            var text = document.getElementById(id + '_tests');
            var button = document.getElementById(id + '_button');
            text.hidden = !text.hidden;
            if (text.hidden) {
                button.textContent = 'Показать тесты';
            } else {
                button.textContent = 'Скрыть тесты';
            }
        }
{% endblock %}

{% block styles %}
    .input_field {
        width: 500px;
    }
{% endblock %}

{% block content %}
        <h3><a href="/admin/block?id={{ Block.id }}">Обратно к настройкам блока</a></h3>
        <h5>
            {{ Block.name }}
        </h5>
        <h2>Фильтр</h2>
        <table>
            <tr>
                <td>Id</td>
                <td><input class="input_field" type="text" placeholder="Id" id="idi" name="idi" value="{{ options.solution_id }}"></td>
            </tr>
            <tr>
                <td>Таск</td>
                <td>
                    <select class="input_field" id="task_name" name="task_name">
                        <option value="">Все</option>
                        {% for task in solutions_info.tasks %}
                            <option value="{{ task.name }}" {% if options.task_name == task.name %}selected{% endif %}>{{ task.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Пользователь</td>
                <td>
                    <select class="input_field" id="user" name="user">
                        <option value="">Все</option>
                        {% for u in solutions_info.users %}
                            <option value="{{ u }}" {% if options.user == u %}selected{% endif %}>{{ u }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Группа</td>
                <td>
                    <select class="input_field" id="group" name="group">
                        <option value="">Все</option>
                        {% for group in solutions_info.groups %}
                            <option value="{{ group }}" {% if options.group == group %}selected{% endif %}>{{ group }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Последнее решение</td>
                <td><input type="checkbox" id="last_solution" name="last_solution" {% if options.last_solution %}checked{% endif %}>{{ option.last_solution }}</td>
            </tr>
            <tr>
                <td>Лучший результат</td>
                <td><input type="checkbox" id="best_result" name="best_result" {% if options.best_result %}checked{% endif %}></td>
            </tr>
            <tr>
                <td>Только студенты</td>
                <td><input type="checkbox" id="only_students" name="only_students" {% if options.only_students %}checked{% endif %}></td>
            </tr>
            <tr>
                <td>Еще не проверено</td>
                <td><input type="checkbox" id="not_seen" name="not_seen" {% if options.not_seen %}checked{% endif %}></td>
            </tr>
        </table>
        
        <button type="button" class="btn btn-dark" id="control" onclick="filter()" style="margin-top: 20px;">Применить</button><br>
        <button type="button" class="btn btn-dark" id="control" onclick="window.location.href='/admin/solutions?block_id={{ Block.id }}'" style="margin-top: 10px;">Сбросить</button><br>
        <button style="margin-top: 10px;" class="btn btn-dark" onclick="download()">Скачать решения</button><br>
        <button style="margin-top: 10px;" class="btn btn-dark" onclick="retest()">Перетест</button>
        <hr>
        <h5>Решения</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Таск</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Время отправки</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Результат</th>
                    <th scope="col">Оценка</th>
                    <th scope="col">Комментарий</th>
                </tr>
            </thead>
            <tbody>
                {% for solution in solutions %}
                     <tr>
                        <th scope="row">
                            <a href="/admin/solution?id={{ solution.id }}&solutions={{ filter }}">{{ solution.id }}</a>
                        </th>
                        <td>
                            <a href="/admin/task?id={{ solution.task.id }}">{{ solution.task.name }}</a>
                        </td>
                        <td>
                            {{ solution.userinfo.surname }} {{ solution.userinfo.name }} {{ solution.userinfo.middle_name }}
                        </td>
                        <td>
                            {{ solution.time_sent }}
                        </td>
                        <td>
                            {{ solution.userinfo.group }}
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#resultModalLong{{ solution.id }}">
                                  {{ solution.result }}
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="resultModalLong{{ solution.id }}" tabindex="-1" role="dialog" aria-labelledby="resultModalLongTitle{{ solution.id }}" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="resultModalLongTitle{{ solution.id }}">Подробная информация о тестировании {{ solution.id }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
{% autoescape off %}
{{ solution.details }}
<hr>
<pre id="{{ solution.id }}_tests" hidden>
{{ solution.task.tests_text }}
</pre>
{% endautoescape %}
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" id="{{ solution.id }}_button" class="btn btn-primary" onclick="showHideTests('{{ solution.id }}')">Показать тесты</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        </td>
                        <td>
                            {{ solution.mark_property }}
                        </td>
                        <td>
                            {% if solution.comment %}
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalLong{{ solution.id }}">
                                  Посмотреть
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong{{ solution.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle{{ solution.id }}" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle{{ solution.id }}">Комментарий к решению {{ solution.id }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
<pre>
{{ solution.comment }}
</pre>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {% else %}
                                <p>Нет комментария</p>
                            {% endif %}
                        </td>
                     </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}