{% extends 'base_admin.html' %}

{% block title %}{{ task.name }}|настройки{% endblock %}

{% block scripts %}
        function uploaded() {
            document.getElementById('is_uploaded').style.display = 'block';
            document.getElementById('is_uploaded').nodeValue = document.getElementById('file-upload').nodeValue;
        }
        function uploaded1() {
            document.getElementById('send').style.display = 'block';
            document.getElementById('is_uploaded1').nodeValue = document.getElementById('file-upload1').nodeValue;
        }
{% endblock %}
{% block styles %}
        input[type="file"] {
            display: none;
        }
        .my_td { 
            vertical-align: middle;
            height: 20px;
        }
{% endblock %}
    <script>

    </script>
{% block content %}
    <h3><a href="/admin/block?id={{ task.block.id }}">{{ task.block.name }}</a></h3>
    <h5>{{ task.name }}</h5>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Легенда
                    </td>
                    <td>
                        <textarea rows="10" cols="50" style="resize: none;" name="legend">{{ task.legend }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Формат входных данных
                    </td>
                    <td>
                        <textarea rows="10" cols="50" style="resize: none;" name="input">{{ task.input }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Формат выходных данных
                    </td>
                    <td>
                        <textarea rows="10" cols="50" style="resize: none;" name="output">{{ task.output }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Спецификации
                    </td>
                    <td>
                        <textarea rows="10" cols="50" style="resize: none;" name="specifications">{{ task.specifications }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ограничения по времени
                    </td>
                    <td>
                        <input type="text" name="time_limit" value="{{ task.time_limit }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Вес задачи
                    </td>
                    <td>
                        <input type="text" name="weight" value="{{ task.weight }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Максимальная оценка
                    </td>
                    <td>
                        <input type="text" name="max_mark" value="{{ task.max_mark }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Максимум решений
                    </td>
                    <td>
                        <input type="text" name="max_solutions_count" value="{{ task.max_solutions_count }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Тесты
                    </td>
                    <td>
                        <label for="tests" class="btn btn-dark" style="margin-top: 20px;">
                            Загрузить файл
                        </label><br>
                        <span id="is_uploaded" style="display: none;">Тесты выбраны</span>
                        <input type="file" class="btn form-control-file" id="tests" value="Выбрать файл" name="tests" onchange="uploaded()">
                        {% if task.tests_uploaded %}
                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalLong">
                                  Посмотреть
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Unit тесты</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
<textarea cols="82" rows="30" name="tests_text">
{{ task.tests_text }}
</textarea>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" name="test_file_save" value="test_file_save">Save</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 10px;">
                        Дополнительные файлы
                    </td>
                    <td style="vertical-align: top;">
                        <table>
                            {% for file in task.files %}
                                <tr>
                                    <td>
                                        <button type="submit" class="close" name="delete" value="{{ file.id }}">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                    <td>
                                        <img width="14px" height="14px" src="https://image.flaticon.com/icons/svg/876/876755.svg">
                                    </td>
                                    <td>
                                        {% if file.readable %}
                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#filesModalLong{{ file.id }}">
                                              {{ file.filename }}
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade bd-example-modal-lg" id="filesModalLong{{ file.id }}" tabindex="-1" role="dialog" aria-labelledby="filesModalLongTitle{{ file.id }}" aria-hidden="true">
                                              <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="filesModalLongTitle{{ file.id }}">{{ file.filename }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-12">
<textarea cols="82" rows="30" name="extra_file_text_{{ file.id }}">
{{ file.text }}
</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" name="extra_file_save" value="{{ file.id }}">Save</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        {% else %}
                                            <button type="button" class="btn btn-link" style="color: red;">
                                              {{ file.filename }}
                                            </button>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <label for="files" class="btn btn-primary">
                            Загрузить файл
                        </label>
                        <form method="POST">
                            <input type="file" class="btn form-control-file" id="files" value="Выбрать файл" name="file" onchange="uploaded1()">
                            <button type="submit" class="btn btn-success" style="display: none;" id="send">Отправить</button>
                        </form>
                    </td>
                </tr>
            </table>
            <hr>
            <input type="submit" value="Сохранить" class="btn btn-dark">
        </form>
        <form method="POST" onsubmit="return confirm('Точно удаляем?');">
            {% csrf_token %}
            <input type="hidden" name="test_id" value="{{ task.id }}">
            <input type="submit" value="Очистить тесты" class="btn btn-dark" style="margin-top: 10px;">
        </form>
    {% if is_superuser %}
        <form method="POST" onsubmit="return confirm('Точно удаляем?');">
            {% csrf_token %}
            <input type="hidden" name="task_id" value="{{ task.id }}">
            <input type="submit" value="Удалить таск" class="btn btn-dark" style="margin-top: 10px;">
        </form>
    {% endif %}
{% endblock %}